amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
certifi==2018.4.16
chardet==3.0.4
Django==2.0.5
django-cors-headers==2.1.0
django-notifs==2.6.0
django-templated-mail==1.0.0
django-widget-tweaks==1.4.1
djangorestframework==3.7.3
djangorestframework-jwt==1.11.0
djoser==1.1.5
ez-setup==0.9
gevent==1.2.2
greenlet==0.4.12
idna==2.6
kombu==4.1.0
pika==0.11.2
Pillow==5.1.0
PyJWT==1.6.1
PySocks==1.6.8
pytz==2017.3
requests==2.18.4
simplejson==3.13.2
six==1.11.0
twilio==6.14.0
urllib3==1.22
vine==1.1.4
